body {
    font-family: Verdana, sans-serif;
    background-color: #ecebeb;
    margin: 1%;
    padding: 1%;
}

div {
    margin: 1%;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #64bdd3;
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 2% 0;
    width: 100%;
}

h1 {
    margin: 0;
    padding-bottom: 1%;
    font-size: 150%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #64bdd3;
    width: 100%;
}

nav li {
    flex: 1;
    text-align: center;
}


nav a {
    display: block;
    padding: 4% 0;
    color: black;
    text-decoration: none;
}

#menu_izq #botones button:hover {
    background-color: #009022;
    transform: scale(1.05);
    cursor: pointer;
}

/* CONTENIDO DERECHO */
#menu_drch {
    margin-left: 15%;
    padding: 100px 2em 2em;
}

/* FORMULARIOS */
#menu_añadir_equipo, #menu_añadir_jugador {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    margin-bottom: 2em;
}

#menu_añadir_equipo input, #menu_añadir_jugador input {
    padding: 0.6em;
    font-size: 1em;
    border: none;
    border-radius: 6px;
    background-color: #292929;
    color: white;
    outline: none;
}

#menu_añadir_equipo input::placeholder, #menu_añadir_jugador input::placeholder {
    color: #bbb;
}

#menu_añadir_equipo button, #menu_añadir_jugador button, #listado_filtrado button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    background-color: rgb(0, 158, 26);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 100%;
}

nav a:hover {
    background-color: #398293;
    color: white;
}